<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accueil</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <style>
        body,html {
            padding: 0;
            margin: 0;
        }
        small{
            color: red;
        }
    </style>

</head>

<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{index}" > LO54 </a>
            </div>


            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/login}" ><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
            </ul>
        </div>
    </nav>

</header>

    <div class="container" style="padding-left: 69px;padding-right: 69px">
        <div class="panel panel-default">
            <div class="panel-heading">Inscription</div>
            <div class="panel-body">
                <form th:action="@{preInsc}" method="post" th:object="${client}">



                    <div class="form-group">
                        <label class="control-label">Nom :</label>
                        <input class="form-control" type="text" name="lastName" required="required" maxlength="50"/>
                        <small>&nbsp;&nbsp;**Champ obligatoire</small>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Prénom :</label>
                        <input class="form-control" type="text" name="firstName" required="required" maxlength="50"/>
                        <small>&nbsp;&nbsp;**Champ obligatoire</small>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Email :</label>
                        <input class="form-control" type="email" name="email" required="required"/>
                        <small>&nbsp;&nbsp;**Champ obligatoire</small>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Password :</label>
                        <input class="form-control" type="password" name="password" required="required" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"/>
                        <small>&nbsp;&nbsp;**Mot de passe doit se composer d'au moins huit caractères et contenir des lettres (en majuscule et minuscule de préférence) et des chiffres</small>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Télephone :</label>
                        <input class="form-control" type="tel" required="required" pattern="^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$" name="phone"/>
                        <small>&nbsp;&nbsp;**Champ obligatoire</small>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Adresse :</label>
                        <input class="form-control" type="text" name="address" required="required" maxlength="50"/>
                        <small>&nbsp;&nbsp;**Champ obligatoire</small>
                    </div>
                    <div class="form-group">
                        <input class="form-control" th:object="${cs}" name="cs" type="hidden" th:value="${cs}"/>
                    </div>

                    <div><button type="submit" class="btn btn-primary">Save</button></div>

                </form>
            </div>

        </div>
    </div>

</body>

</html>